.promo-strip.js-promo-strip.swiper
   .swiper-wrapper
      .promo-strip__item.js-promo-strip-item.swiper-slide
         a.promo-strip__link(href="https://juicycouture.ru/new/") Бесплатная доставка при заказе от 10 000 рублей 
      .promo-strip__item.js-promo-strip-item.swiper-slide
         a.promo-strip__link(href="https://juicycouture.ru/new/") Бесплатная доставка при заказе от 10 000 рублей 
      .promo-strip__item.js-promo-strip-item.swiper-slide
         a.promo-strip__link(href="https://juicycouture.ru/new/") Бесплатная доставка при заказе от 10 000 рублей 
   
   .swiper-button-prev
      +svgIcon(7, 12, "#i-arrow-left")
   .swiper-button-next
      +svgIcon(7, 12, "#i-arrow-right") 