@import "../colors";

.b-city-popup {
  &__cities {
    width: 100%;
    max-width: 585px;
    margin: auto;
  }
  .bx-ui-sls-variants {
    position: absolute;
    top: -327px;
    z-index: 99;
    width: 580px;
    background: #fff;
    height: 267px;
    max-height: 267px;
    overflow: hidden;
    .bx-ui-sls-variant {
      float: left;
      width: 33%;
      display: block;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
      color: #000;
      text-align: left;
      margin-bottom: 19px;
      transition: all 0.4s;
      text-decoration: none !important;
    }
  }
  #LOCATION-error {
    position: absolute;
    top: 88px;
  }
  &__search {
    margin: auto;
    width: 100%;
    max-width: 600px;
    label {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 8px;
    }
    &-btn {
      margin-top: 30px;
    }
  }
  &__city {
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: $black;
    text-align: left;
    margin-bottom: 19px;
    transition: all 0.4s;
    text-decoration: none !important;
    &.active {
      color: $pink;
    }
  }
  &__dialog {
    position: absolute !important;
    width: 100% !important;
    max-width: 780px !important;
    height: 535px !important;
    top: 50% !important;
    left: 50% !important;
    margin-left: -340px !important;
    margin-top: -290px !important;
  }
  &__content {
    width: 100% !important;
    max-width: 780px !important;
    height: 535px !important;
    box-shadow: none !important;
    border: none !important;
    .modal-body {
      padding-top: 6px !important;
    }
    .modal-header {
      padding-left: 0px !important;
      border: none;
      .modal-title {
        margin: auto !important;
        width: 100% !important;
        max-width: 600px !important;
      }
    }
    .bx-ui-sls-route {
      visibility: hidden;
    }
    .bx-ui-sls-fake {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      width: 100%;
      height: 52px;
      padding: 14px 20px;
      font-size: 16px;
      line-height: 1.42857;
      color: #000;
      background-color: #fff;
      background-image: none;
      border: 1px solid #fff;
      border-radius: 0px;
      -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
      -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    }
    .modal-footer {
      border: none;
      text-align: left;
      background: $gray-ed;
      padding-left: 0px;
      padding-top: 23px;
      padding-bottom: 28px;
    }
    .modal-title {
      padding-top: 20px;
    }
  }
}