head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
  title &Ocy;&fcy;&icy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&jcy; &icy;&ncy;&tcy;&iecy;&rcy;&ncy;&iecy;&tcy;-&mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy; Juicy Couture (&Dcy;&zhcy;&ucy;&scy;&icy; &Kcy;&ucy;&tcy;&yucy;&rcy;) &vcy; &Rcy;&ocy;&scy;&scy;&icy;&icy;
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  link(href='./styles/vendor/b-mainpage-youstyle.css' type='text/css' rel='stylesheet')
  link(href='./styles/vendor/b-mainpage-instagram.css' type='text/css' rel='stylesheet')
  link(href='./styles/vendor/b-mainpage-video.css' type='text/css' rel='stylesheet')
  link(href='./styles/vendor/b-seo.css' type='text/css' rel='stylesheet')
  link(href='./styles/vendor/style1.css' type='text/css' rel='stylesheet')
  link(href='./styles/vendor/b-mainpage-banner.css' type='text/css' rel='stylesheet')
  link(href='./styles/vendor/b-tabs.css' type='text/css' rel='stylesheet')
  link(href='./styles/vendor/ts-innova-instagram.css' type='text/css' rel='stylesheet')
  link(href='./styles/vendor/wa-mediabox.min.css' type='text/css' rel='stylesheet')
  link(href='./styles/vendor/style2.css' type='text/css' rel='stylesheet')
  link(href='./styles/vendor/g-twbs.css' type='text/css' data-template-style='true' rel='stylesheet')
  link(href='./styles/vendor/b-order.css' type='text/css' data-template-style='true' rel='stylesheet')
  link(href='./styles/vendor/i-slick.css' type='text/css' data-template-style='true' rel='stylesheet')
  link(href='./styles/vendor/b-page.css' type='text/css' data-template-style='true' rel='stylesheet')
  link(href='./styles/vendor/b-subscribe.css' type='text/css' data-template-style='true' rel='stylesheet')
  link(href='./styles/vendor/b-header.css' type='text/css' data-template-style='true' rel='stylesheet')
  link(href='./styles/vendor/b-subscription.css' type='text/css' data-template-style='true' rel='stylesheet')
  link(href='./styles/vendor/b-social-links/b-social-links.css' type='text/css' data-template-style='true' rel='stylesheet')
  link(href='./styles/vendor/b-city-auto-popup.css' type='text/css' data-template-style='true' rel='stylesheet')
  link(href='./styles/vendor/b-city-popup.css' type='text/css' data-template-style='true' rel='stylesheet')
  link(href='./styles/vendor/b-fast-cart.css' type='text/css' data-template-style='true' rel='stylesheet')
  link(href='./styles/vendor/b-breadcrumb.css' type='text/css' data-template-style='true' rel='stylesheet')
  link(href='./styles/vendor/b-media.css' type='text/css' data-template-style='true' rel='stylesheet')
  link(href='./styles/vendor/google_fonts.css' type='text/css' data-template-style='true' rel='stylesheet')
  link(href='./styles/vendor/style3.css' type='text/css' data-template-style='true' rel='stylesheet')
  link(href='./styles/vendor/style4.css' type='text/css' data-template-style='true' rel='stylesheet')
  link(href='./styles/vendor/styles5.css' type='text/css' data-template-style='true' rel='stylesheet')
  link(href='./styles/vendor/styles.css' type='text/css' data-template-style='true' rel='stylesheet')
  link(href='./styles/vendor/style6.css' type='text/css' data-template-style='true' rel='stylesheet')
  link(href='./styles/vendor/template_styles.css' type='text/css' data-template-style='true' rel='stylesheet')
  link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
  link(rel='stylesheet' type='text/css' href='./styles/vendor/g-font-awesome.css')
  link(href='./styles/vendor/swiper-bundle.min.css' type='text/css' rel='stylesheet')
  link(rel="stylesheet", href="./styles/main.css")
