.m-slider(style='max-height: 720px;')
  .swiper-container(data-slider='main')
    .swiper-wrapper
      .swiper-slide
        div(style='width: 100%; height: 100%; position:relative;')
          a.m-slider__img(data-gtm-banner='' data-gtm-banner-name='Волшебные ботинки (Баннер сверху)' data-gtm-param-name='Volshebnye_botinki_(Banner_sverkhu)' href='https://tamaris.ru/stories/golden-classics/')
            picture(style='width: 100%; height: 100%; position:relative;')
              source(type='image/webp' srcset='https://tamaris.ru//upload/iblock/b96/b969fd6e36e5480dd3b36249e5c2080f.jpg.webp')
              img.m-slider__img--desktop(src='https://tamaris.ru//upload/iblock/b96/b969fd6e36e5480dd3b36249e5c2080f.jpg' alt='Волшебные ботинки')
          a.m-slider__inner(href='https://tamaris.ru/stories/golden-classics/' data-gtm-banner='' data-gtm-banner-name='Волшебные ботинки (Баннер сверху)' data-gtm-param-name='Volshebnye_botinki_(Banner_sverkhu)')
            .m-slider__title
              | &Vcy;&ocy;&lcy;&shcy;&iecy;&bcy;&ncy;&ycy;&iecy; &bcy;&ocy;&tcy;&icy;&ncy;&kcy;&icy;
          a.m-slider__btn(href='https://tamaris.ru/stories/golden-classics/' data-pos-top='3' data-pos-left='0' style='top: calc(50%); left: calc(10%); display: flex;')
            .btn(data-btn-color='#32302e' data-btn-bgcolor='transparent' data-btn-brcolor='#32302e' data-btn-color-hover='#ffffff' data-btn-bgcolor-hover='#32302e' data-btn-brcolor-hover='#ffffff' style='color: rgb(50, 48, 46); background-color: transparent; border-color: rgb(50, 48, 46);')
              | &Kcy;&Ucy;&Pcy;&Icy;&Tcy;&SOFTcy;
