header.b-header
  .b-header__top
    .container
      .row
        .col-xs-2.col-sm-4.col-lg-3.hidden-xs.hidden-sm
          .b-header__top-location.hidden-xs.hidden-sm
            .row
              .col-xs-6.hide-in-order
                span.b-header__top-location-city(data-toggle='modal' data-target='#b-city-popup')
                  | &Dcy;&ucy;&bcy;&ncy;&acy;
          .row
            .col-xs-6.hide-in-order
              .b-header__top-phone-cc.text-center 8 800 770 76 46
            .col-xs-6
        .col-xs-6.col-sm-4.col-lg-6
          a.b-header__top-logo(href='/')
        .col-xs-4.col-sm-4.col-lg-3.mobile-menu-padding
          #bx_basket47e3e40cc2adfdfb79aee1a95a1b4970
            ul.b-header__top-profile-menu
              a.b-header__top-profile-menu-user(href='/personal/?login=yes')
              a.b-header__top-profile-menu-phone.visible-xs.hidden-sm(href='tel:88007707646')
              a.b-header__top-profile-menu-search(href='#')
              .b-header__top-profile-menu-cart
                span.b-header__top-profile-menu-cart-ico(data-pathtobasket='/order/')
                span.b-header__top-profile-menu-cart-count
        .col-xs-2.col-sm-4.col-lg-3.visible-xs.visible-sm.hidden-md.hidden-lg
          .b-header__mobile-btn.visible-xs.visible-sm
            span
            span
            span
            span
            span.fa.fa-times(aria-hidden='true')
  .b-header__menu.hidden-xs.hidden-sm
    .container
      a.b-header__menu-logo(href='/')
      ul.b-header__menu-ul
        li
          a(href='/new/') &Ncy;&ocy;&vcy;&icy;&ncy;&kcy;&icy;
        li
          a(href='/catalog/clothing-collection/') &Kcy;&ocy;&lcy;&lcy;&iecy;&kcy;&tscy;&icy;&yacy;
          .b-header__menu-dropdown
            .container
              ul
                li.b-header__menu-dropdown-category
                  a(href='/catalog/clothing-collection/') &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&icy;
                li
                  a(href='/catalog/clothing-collection/white/') White
                li
                  a(href='/catalog/clothing-collection/black/') Black
                li
                  a(href='/catalog/clothing-collection/sport/') Sport
                li
                  a(href='/catalog/clothing-collection/lounge/') Lounge
                li.see-all-link
                  a(href='/catalog/clothing-collection/') &Scy;&mcy;&ocy;&tcy;&rcy;&iecy;&tcy;&softcy; &vcy;&scy;&iecy;
        li
          a(href='/catalog/womens-clothing/') &Ocy;&dcy;&iecy;&zhcy;&dcy;&acy;
          .b-header__menu-dropdown
            .container
              ul
                li.b-header__menu-dropdown-category
                  a(href='/catalog/womens-clothing/') &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&icy;
                li
                  a(href='/catalog/womens-clothing/pants/') &Bcy;&rcy;&yucy;&kcy;&icy;
                li
                  a(href='/catalog/womens-clothing/sweatshirts/') &Tcy;&ocy;&lcy;&scy;&tcy;&ocy;&vcy;&kcy;&icy;
                li
                  a(href='/catalog/womens-clothing/tops/') &Tcy;&ocy;&pcy;&ycy;
                li
                  a(href='/catalog/womens-clothing/t-shirts/') &Fcy;&ucy;&tcy;&bcy;&ocy;&lcy;&kcy;&icy;
                li
                  a(href='/catalog/womens-clothing/dresses/') &Pcy;&lcy;&acy;&tcy;&softcy;&yacy;
                li
                  a(href='/catalog/womens-clothing/shorts/') &SHcy;&ocy;&rcy;&tcy;&ycy;
                li
                  a(href='/catalog/womens-clothing/clothing-and-home-sleep/') &Ocy;&dcy;&iecy;&zhcy;&dcy;&acy; &dcy;&lcy;&yacy; &dcy;&ocy;&mcy;&acy; &icy; &scy;&ncy;&acy;
                li
                  a(href='/catalog/womens-clothing/swimsuit/') &Kcy;&ucy;&pcy;&acy;&lcy;&softcy;&ncy;&icy;&kcy;&icy;
                li
                  a(href='/catalog/womens-clothing/outerwear/') &Vcy;&iecy;&rcy;&khcy;&ncy;&yacy;&yacy; &ocy;&dcy;&iecy;&zhcy;&dcy;&acy;
                li.see-all-link
                  a(href='/catalog/womens-clothing/') &Scy;&mcy;&ocy;&tcy;&rcy;&iecy;&tcy;&softcy; &vcy;&scy;&iecy;
              ul
                li.b-header__menu-dropdown-category
                  a(href='/catalog/womens-clothing/velour/') &Kcy;&ocy;&scy;&tcy;&yucy;&mcy;&ycy;
                li
                  a(href='/catalog/womens-clothing/velour/velour-logo/') &Vcy;&iecy;&lcy;&yucy;&rcy;&ocy;&vcy;&ycy;&jcy; &kcy;&ocy;&scy;&tcy;&yucy;&mcy; &scy; &lcy;&ocy;&gcy;&ocy;
                li
                  a(href='/catalog/womens-clothing/velour/velour-base/') &Vcy;&iecy;&lcy;&yucy;&rcy;&ocy;&vcy;&ycy;&jcy; &bcy;&acy;&zcy;&ocy;&vcy;&ycy;&jcy; &kcy;&ocy;&scy;&tcy;&yucy;&mcy;
                li
                  a(href='/catalog/womens-clothing/velour/jersey/') &Tcy;&rcy;&icy;&kcy;&ocy;&tcy;&acy;&zhcy;&ncy;&ycy;&jcy; &kcy;&ocy;&scy;&tcy;&yucy;&mcy;
                li.see-all-link
                  a(href='/catalog/womens-clothing/velour/') &Scy;&mcy;&ocy;&tcy;&rcy;&iecy;&tcy;&softcy; &vcy;&scy;&iecy;
              .b-header__menu-dropdown-pictures
                a.b-header__menu-dropdown-picture(href='/catalog/womens-clothing/t-shirts/')
                  img(src='/upload/iblock/da2/da2f580626b86b73441a45ab1eacf75a.jpg')
                  span.b-header__menu-dropdown-name &Fcy;&ucy;&tcy;&bcy;&ocy;&lcy;&kcy;&icy;
                a.b-header__menu-dropdown-picture(href='/catalog/womens-clothing/velour/')
                  img(src='/upload/iblock/2df/2df26ecfeecfe056e3ebef94355233f6.jpg')
                  span.b-header__menu-dropdown-name &Kcy;&ocy;&scy;&tcy;&yucy;&mcy;&ycy;
        li
          a(href='/catalog/jewelry-and-accessories/') &Acy;&kcy;&scy;&iecy;&scy;&scy;&ucy;&acy;&rcy;&ycy;
          .b-header__menu-dropdown
            .container
              ul
                li.b-header__menu-dropdown-category
                  a(href='/catalog/jewelry-and-accessories/') &Kcy;&acy;&tcy;&iecy;&gcy;&ocy;&rcy;&icy;&icy;
                li
                  a(href='/catalog/jewelry-and-accessories/bags/') &Scy;&ucy;&mcy;&kcy;&icy;
                li
                  a(href='/catalog/jewelry-and-accessories/shoes/') &Ocy;&bcy;&ucy;&vcy;&softcy;
                li
                  a(href='/catalog/jewelry-and-accessories/ornamentation/') &Ucy;&kcy;&rcy;&acy;&shcy;&iecy;&ncy;&icy;&yacy;
                li
                  a(href='/catalog/jewelry-and-accessories/gifts/') &Pcy;&ocy;&dcy;&acy;&rcy;&kcy;&icy;
                li.see-all-link
                  a(href='/catalog/jewelry-and-accessories/') &Scy;&mcy;&ocy;&tcy;&rcy;&iecy;&tcy;&softcy; &vcy;&scy;&iecy;
              .b-header__menu-dropdown-pictures
                a.b-header__menu-dropdown-picture(href='/catalog/jewelry-and-accessories/bags/')
                  img(src='/upload/iblock/8b1/8b1c85a1f77a2caf850bdacfca1ef210.jpg')
                  span.b-header__menu-dropdown-name &Scy;&ucy;&mcy;&kcy;&icy;
        li.sel
          a(href='/sale/') SALE
    .container.b-header__menu-add-container
      .b-header__menu-add
        #basketBlockClone
          ul.b-header__top-profile-menu
            a.b-header__top-profile-menu-user.hidden-xs.hidden-sm(href='/personal/?login=yes')
            a.b-header__top-profile-menu-phone.visible-xs.hidden-sm(href='tel:88007707646')
            a.b-header__top-profile-menu-search(href='#')
            .b-header__top-profile-menu-cart
              span.b-header__top-profile-menu-cart-ico(data-pathtobasket='/order/')
              span.b-header__top-profile-menu-cart-count
              
  .b-page__mobile-menu
    .panel.panel-default
      .panel-heading
        a.panel-title(href='/new/' aria-expanded='false' aria-controls='collapseOne0')
          | &Ncy;&ocy;&vcy;&icy;&ncy;&kcy;&icy;
    .panel.panel-default
      #headingOne1.panel-heading(role='tab')
        h4.panel-title(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseOne1' aria-expanded='false' aria-controls='collapseOne1')
          | &Kcy;&ocy;&lcy;&lcy;&iecy;&kcy;&tscy;&icy;&yacy;
      #collapseOne1.panel-collapse.collapse(role='tabpanel' aria-labelledby='collapseOne1')
        .panel-body
          ul
            li
              a(href='/catalog/clothing-collection/white/') White
            li
              a(href='/catalog/clothing-collection/black/') Black
            li
              a(href='/catalog/clothing-collection/sport/') Sport
            li
              a(href='/catalog/clothing-collection/lounge/') Lounge
    .panel.panel-default
      #headingOne6.panel-heading(role='tab')
        h4.panel-title(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseOne6' aria-expanded='false' aria-controls='collapseOne6')
          | &Ocy;&dcy;&iecy;&zhcy;&dcy;&acy;
      #collapseOne6.panel-collapse.collapse(role='tabpanel' aria-labelledby='collapseOne6')
        .panel-body
          ul
            li
              a(href='/catalog/womens-clothing/pants/') &Bcy;&rcy;&yucy;&kcy;&icy;
            li
              a(href='/catalog/womens-clothing/sweatshirts/') &Tcy;&ocy;&lcy;&scy;&tcy;&ocy;&vcy;&kcy;&icy;
            li
              a(href='/catalog/womens-clothing/tops/') &Tcy;&ocy;&pcy;&ycy;
            li
              a(href='/catalog/womens-clothing/t-shirts/') &Fcy;&ucy;&tcy;&bcy;&ocy;&lcy;&kcy;&icy;
            li
              a(href='/catalog/womens-clothing/dresses/') &Pcy;&lcy;&acy;&tcy;&softcy;&yacy;
            li
              a(href='/catalog/womens-clothing/shorts/') &SHcy;&ocy;&rcy;&tcy;&ycy;
            li
              a(href='/catalog/womens-clothing/clothing-and-home-sleep/') &Ocy;&dcy;&iecy;&zhcy;&dcy;&acy; &dcy;&lcy;&yacy; &dcy;&ocy;&mcy;&acy; &icy; &scy;&ncy;&acy;
            li
              a(href='/catalog/womens-clothing/swimsuit/') &Kcy;&ucy;&pcy;&acy;&lcy;&softcy;&ncy;&icy;&kcy;&icy;
            li
              a(href='/catalog/womens-clothing/outerwear/') &Vcy;&iecy;&rcy;&khcy;&ncy;&yacy;&yacy; &ocy;&dcy;&iecy;&zhcy;&dcy;&acy;
            li
              a(href='/catalog/womens-clothing/velour/') &Kcy;&ocy;&scy;&tcy;&yucy;&mcy;&ycy;
    .panel.panel-default
      #headingOne17.panel-heading(role='tab')
        h4.panel-title(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseOne17' aria-expanded='false' aria-controls='collapseOne17')
          | &Acy;&kcy;&scy;&iecy;&scy;&scy;&ucy;&acy;&rcy;&ycy;
      #collapseOne17.panel-collapse.collapse(role='tabpanel' aria-labelledby='collapseOne17')
        .panel-body
          ul
            li
              a(href='/catalog/jewelry-and-accessories/bags/') &Scy;&ucy;&mcy;&kcy;&icy;
            li
              a(href='/catalog/jewelry-and-accessories/shoes/') &Ocy;&bcy;&ucy;&vcy;&softcy;
            li
              a(href='/catalog/jewelry-and-accessories/ornamentation/') &Ucy;&kcy;&rcy;&acy;&shcy;&iecy;&ncy;&icy;&yacy;
            li
              a(href='/catalog/jewelry-and-accessories/gifts/') &Pcy;&ocy;&dcy;&acy;&rcy;&kcy;&icy;
    .panel.panel-default
      .panel-heading
        a.panel-title(href='/sale/' aria-expanded='false' aria-controls='collapseOne22')
          | SALE
    .panel.panel-default.panel__phone-box
      .panel-heading
        a.panel__phone(href='tel:88007707646' aria-expanded='false' aria-controls='collapseOne22') 8 800 770-76-46
