.b-breadcrumb
   .container
      ul.breadcrumb.b-breadcrumb__content
         li
            a(href='/') Главная
         li(itemscope='' itemtype='http://data-vocabulary.org/Breadcrumb')
            a(href='/reference/' title='Справка' itemprop='url')
               span(itemprop='title') Справка
         li.bx-breadcrumb-item
            | Способы оплаты