.mod-only-lg {
  @include w-to($screen-lg) {
    display: none !important;
  }
}

.mod-only-sm {
  @include w-from($screen-md) {
    display: none !important;
  }
}

.mod-to-md {
  @include w-from($screen-lg) {
    display: none !important;
  }
}

.mod-only-md {
  @include w-to($screen-md) {
    display: none !important;
  }
  @include w-from($screen-lg) {
    display: none !important;
  }
}

.mod-no-sm {
  @include w-to($screen-md) {
    display: none !important;
  }
}

.mod-no-md {
  @include w-to($screen-lg) {
    display: none !important;
  }
}

.mod-no-lg {
  @include w-from($screen-lg) {
    display: none !important;
  }
}

.mod-no-wrap {
  white-space: nowrap;
}

[v-cloak] {
  opacity: 0 !important;
}

[data-popup-is-open] {
  position: fixed;
  overflow: hidden;
  width:    100%;
  height:   100%;

  header {
    @include w-to($screen-md) {
      top: 0;
    }
  }
}

[data-page-stop] {
  position: fixed;
  overflow: hidden;
  width:    100%;
  height:   100%;
}